:root{
    --white: #F8F5F7;
    --pink: #DCBDCE;
    --grey: #B1ACAD;
    --blue: #839FDA;
    --deepblue: #5170FF;
}
body
{
    margin: 0;
    background-image: radial-gradient(circle, #b1acad, #c394ab, #c27ebc, #a771da, #5170ff);
    font-family: 'Cabin', serif;
}
h1, h2, h3, h4, h5, h6
{
    font-family: 'Ubuntu', serif;
    text-shadow: 2px 2px 5px var(--deepblue);

}
h1
{
    font-size: 3em;
}
a{
    color: var(--grey);
    text-decoration: none;
}
a:hover
{
    transition: 0.1s ease;
    font-weight: bold;
}
header{
    min-height: 100vh;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

header img
{
    filter: drop-shadow(0 0 0.5rem black);
    max-width: 90%;
}
section
{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.container
{
    display: flex;
    justify-content: center;
    align-items: center;
}
#element{
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 5px 5px 15px;
    display: flex;
}
#element img
{
    max-width: 100%;
    width:30%;
    border-radius: 15px 0px 0px 15px;
    object-fit: cover;
    object-position: center;
}
#description
{
    margin: 1rem;
}
.project{
    position:relative;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 5px 5px 15px;
    display: flex;
}
.project img
{
    transition: .3s ease;
    max-width: 100%;
    position: relative;
    border-radius: 15px;/* 0px 0px 15px;*/
    object-fit: cover;
    object-position: center;
}
.projectDetails
{
    transition: .5s ease;
    margin: 1rem;
    position: absolute;
    display: none;
}
.project:hover img
{
    opacity:0.25;
    z-index: 1;
}
.project:hover .projectDetails
{
    z-index: 2;
    display: block;
}
#links
{
    display: flex;
    justify-content: space-between;
}
footer
{
    background-color: var(--deepblue);
    color: var(--white);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.social-links
{
    font-size: 2.5rem;
    display: flex;
    flex-direction: row;
    /*justify-content: center;*/
    align-items: center;
}
.social-links p
{
    margin-left: 1rem;
    margin-right: 1rem;
}
/*
**********************************
**********************************
RESPONSIVE
*/
@media all and (min-width: 900px)
{
    footer
    {
        padding: 3rem;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    footer div
    {
        flex-grow: 1;
    }
}