body
{
    margin: 0;
    background-image: radial-gradient(circle, #b1acad, #c394ab, #c27ebc, #a771da, #5170ff);
}
header{
    height: 100vh;
}

img
{
    max-width: 80%;
}
footer
{
    display: flex;
    flex-direction: column;
}
.social-links
{
    font-size: 2.5rem;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
@media all and (min-width: 900px)
{
    footer
    {
        padding: 3rem;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    footer div
    {
        flex-grow: 1;
    }
}