/*
couleurs:
#F7F8F8
#A1A399
#5EB0E0
#8B799D
#374163
*/
body
{
	margin: 0;
	font-family: "Ubuntu", sans-serif;
	color: #374163;
	background-color: #F7F8F8;
}
h1, h3
{
	color: #8B799D;
	text-shadow: 2px 2px 2px #c2addc;
}
h2
{
	color: #5EB0E0;
}
header
{
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}
img
{
	border-radius: 20px;
	box-shadow: 5px 5px 3px grey;
}
#soutien, footer
{
	background-color: #A1A399;
}
#raye
{
text-decoration: line-through;
}
figcaption
{
	font-style: italic;
}
#paypal_link
{
	font-weight: bold;
}
ul
{
	list-style-type: none;
}
#livres
{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
#livres p
{
	padding: 0.5em;
	margin: 0.2em;
	border: 2px solid #8B799D;
	border-radius: 0.5em;
}
a
{
	text-decoration: none;
}
a:hover
{
	font-weight: bold;
}

@media all and (max-width: 640px)
{
	img
	{
		width: 50%;
	}
	#livres
	{
		flex-direction: column;
		align-items: stretch;
	}
}
@media all and (max-width: 520px)
{
	img
	{
		width: 90%;
	}
}